body 
{
   align-items: end;
}

.phone 
{
   width: 340px;
   height: 98vh;
   box-sizing: border-box;
   border-radius: 15px;
   border: 8px solid black;
} 

.hands-1, .hands-2
{
   height: 81.8%;
}

.layer-1, .layer-2
{
   height: 82%;
}

.rabbit 
{
   transform: scale(0.12);
}


